services:
  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    container_name: playnet-api
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: src/ui/Dockerfile
    container_name: playnet-ui
    ports:
      - "8501:8501"
    depends_on:
      - api
    environment:
      - API_URL=http://api:8000
